html {
  font-size: 62.5%;
}

body {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.4rem;

}

h4 {
	font-size: 120%;
	font-weight: 600;
	text-align: left;
}

h3 {
	font-weight: 600;
}

h2 {
	padding: 10vh 0 1vh 0;
	font-weight: 700;
}

.navbarlogo {
	margin: auto;
}

.defaultnavbar {
	background: white;
	padding: 2vh 0 2vh 0;
}

.measurementsArray {
	color: rgba(00,00,50);
	font-weight: 600;
}

.questionsArray {
	color: rgba(00,00,50);
	font-weight: 600;
}

.renderedfitpicture {
	padding: 0px 2vw 2vw 0px;
	margin: 0px;
	max-height: 229px;
	max-width: 176px;
}

.label {
		color: rgb(105,105,105);
}

.userform {
	background-color: none;
	border: none;
}

.addfilesbutton {
	padding-right: 0px;
	padding-bottom: 1vh;
	border-radius: 2px;

}

.uploadbutton {
	background-color: rgb(154, 205, 50, 0.5);
	color: rgb(0,128,0);
	border: none;
	border-radius: 2px;
	font-size: 90%;
	margin: 1vh, 0px, 1vh, 0px;
	min-width: 7vw;
}

.updateButton {
	margin-left: 2.5vw;
	font-size: 140%;
}


.whitebox {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 30%;
	left: 10%;
}

/*LOGIN*/

h1 {
	font-weight: 700;
	font-size: 3rem;
	text-align: left;
	padding: 2vh 0vw 2vh 0vw;
}

.login-username {
	padding: 1vh 1vw 1vh 1vw;
	text-align: left;
	font-size: 120%;

}
.login-username-input {
	margin-left: 3.2vw;
}

.login-password {
	padding: 1vh 1vw 4vh 1vw;
	text-align: left;
	font-size: 120%;
}

.login-password-input {
	margin-left: 1.5vw;
}

.login-createaccount {
	padding: 2vh 2vw 2vh 2vw;
}

.loginSubmitButton {
	width: 8vw;
}

/*CREATE AN ACCOUNT*/

.newuser-email {
	padding: 1vh 1vw 1vh 1vw;
	text-align: left;
	font-size: 120%;
}

.newuser-email-input {
	margin-left: 3vw;
}

.newuser-username {
	padding: 1vh 1vw 1vh 1vw;
	text-align: left;
	font-size: 120%;

}
.newuser-username-input {
	margin-left: 0.7vw;
}

.newuser-password {
	padding: 1vh 1vw 4vh 1vw;
	text-align: left;
	font-size: 120%;
}

.newuser-password-input {
	margin-left: 1vw;
}

.newUserSubmitButton {
	width: 8vw;
	margin-left: 1vw;
}

/*Questionnaire*/

.questionnaireLogo {
	margin-top: 1vh;
	margin-bottom: 3vh;
	margin-left: 38vw;
}

.col-8 {
	background-color: rgb(255,253,242,0.8);
	height: 100vh;
	padding-top: 4vh;
	padding-left: 3vh;
	padding-right: 3vh;
}

.shirt-size {
	margin-left: 2vw;
}

.questionHeight {
	margin-left: 2.6vw;
}

.questionWeight {
	margin-left: 1.0vw;
}

.belly {
	margin-left: 8.6vw;
}

.shirt-fit {
	margin-left: 5.9vw;
}

.shirt-collar {
	margin-left: 6.3vw;
}

.shirt-front {
	margin-left: 6.6vw;
}

.shirt-cuff {
	margin-left: 7.1vw;
}

.radio {
	margin-left: 1.5vw;
	margin-right: 0.5vw;
}

.questionnaireSubmitButton {
	width: 8vw;
}


/**/

.text-header {
  font-weight: bold;
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.text-content {
  margin-bottom: 0.5rem;
}

.divider {
  background-color: rgb(250, 250, 250);
  height: 12px;
}

@media (min-width: 992px) {

  body {
    font-size: 1.45rem;
  }

  .text-header {
    font-size: 2.9rem;
  }

}

@media (min-width: 1200px) {

  body {
    font-size: 1.5rem;
  }

  .text-header {
    font-size: 3rem;
  }

}



/*255,243,242*/
/*body {
		height: 200px;
		font-family: 'Italianno', cursive;
		background-image: url('images/background.jpg');
		background-size: cover;
		background-repeat: no-repeat;
}

.header1 {
		font-size: 70px;
		color: rgb(105, 105, 105);
		text-align: left;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 30px;
}

.check {
		font-family: 'Lora', serif;
		font-size: 30px;
		color: white;
		float: right;
		text-align: center;
		width: 150px;
		margin: 40px;
}

.turnsLeft {
		font-size: 35px;
		float: right;
		margin: 40px 0 0 0;
}

.header2 {
		font-size: 80px;
		color: rgb(197, 179, 88, 0.7);
}

.col-7 {
		background-color: rgb(224, 224, 224, 0.2);
		font-size: 72px;
		height: 340px;
}

.col-5 {
		background-image: url('images/rome.jpg');
		background-size: cover;
		height: 340px;
		width: 250px;
		background-repeat: no-repeat;
		font-size: 72px;
		border: 1px solid rgb(105, 105, 105, 0.4);
}

.question {
		font-size: 48px;
		line-height: 60px;
		text-align: center;
		padding: 50 30 50 30;
		margin-top: 20px;
}

.answer {
		font-size: 48px;
		text-align: center;
		margin-top: 20px;
}

.landmarks {
		font-size: 42px;
		color: rgb(128, 128, 128);
		text-align: right;
		margin: 5px 5px 0 0;
}

.questionDisplayed {
		font-family: 'Lora', serif;
		font-size: 30px;
		color: rgb(128, 128, 128, 0.8);
		line-height: 40px;
		text-align: center;
		padding: 0 30px;
}

.true {
		font-family: 'Lora', serif;
		font-size: 20px;
		background-color: rgb(154, 205, 50, 0.5);
		border: none;
		border-spacing: 10px;
		padding: 12px;
		margin-right: 20px;
}

.false {
		font-family: 'Lora', serif;
		font-size: 20px;
		background-color: rgb(240, 128, 128, 0.5);
		border: none;
		border-spacing: 10px;
		padding: 12px;
}

button {
		width: 120px;
}

.landmarksHeader {
		font-size: 30px;
		text-align: right;
		margin: 0 5px 0 0;
}

.monuments {
		font-family: 'Lora', serif;
		font-size: 15px;
		padding: 0px;
		margin: 0px;
		border: 0px;
}

.monumentsList {
		max-height: 25px;
		margin: 0px;
		border: 0px;
		padding: 0px;
		text-align: right;
		list-style-position: inside;
}

.landmarksOfRome {
		font-size: 20px;
}

#castel {
		height: 50px;
}

#stpeters {
		height: 50px;
		margin-right: 10px;
		padding-bottom: 10px;
}

#trevi {
		height: 40px;
		margin-bottom: 10px;
}

#pantheon {
		height: 40px;
}

#colo {
		height: 60px;
		margin-bottom: 10px;
}

#visgoth {
		height: 60px;
		margin: 0 0 0 10px;
}

#smoke1 {
		height: 100px;
}

#smoke2 {
		height: 100px;
}

#smoke3 {
		height: 100px;
}

#smoke4 {
		height: 100px;
}

#smoke5 {
		height: 100px;
}

.overlay {
		position: relative;
}

.overlay #smoke1 {
		position: absolute;
		bottom: -2px;
		right: 10px;
		z-index: 1;
}

.overlay #smoke2 {
		position: absolute;
		bottom: -4px;
		right: 6px;
		z-index: 1;
}

.overlay #smoke3 {
		position: absolute;
		bottom: -10px;
		right: 10px;
		z-index: 1;
}

.overlay #smoke4 {
		position: absolute;
		bottom: 10px;
		right: 15px;
		z-index: 1;
}

.overlay #smoke5 {
		position: absolute;
		bottom: -2px;
		right: 5px;
		z-index: 1;
}*/


