html {
  font-size: 62.5%;
}

body {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.4rem;

}

h4 {
	font-size: 120%;
	font-weight: 600;
	text-align: left;
}

h3 {
	font-weight: 600;
}

h2 {
	padding: 10vh 0 1vh 0;
	font-weight: 700;
}

.navbarlogo {
	margin: auto;
}

.defaultnavbar {
	background: white;
	padding: 2vh 0 2vh 0;
}

.measurementsArray {
	color: rgba(00,00,50);
	font-weight: 600;
}

.questionsArray {
	color: rgba(00,00,50);
	font-weight: 600;
}

.renderedfitpicture {
	padding: 0px 2vw 2vw 0px;
	margin: 0px;
	max-height: 229px;
	max-width: 176px;
}

.label {
		color: rgb(105,105,105);
}

.userform {
	background-color: none;
	border: none;
}

.addfilesbutton {
	padding-right: 0px;
	padding-bottom: 1vh;
	border-radius: 2px;

}

.uploadbutton {
	background-color: rgb(154, 205, 50, 0.5);
	color: rgb(0,128,0);
	border: none;
	border-radius: 2px;
	font-size: 90%;
	margin: 1vh, 0px, 1vh, 0px;
	min-width: 7vw;
}

.updateButton {
	margin-left: 2.5vw;
	font-size: 140%;
}


.whitebox {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 30%;
	left: 10%;
}

/*LOGIN*/

h1 {
	font-weight: 700;
	font-size: 3rem;
	text-align: left;
	padding: 2vh 0vw 2vh 0vw;
}

.login-username {
	padding: 1vh 1vw 1vh 1vw;
	text-align: left;
	font-size: 120%;

}
.login-username-input {
	margin-left: 3.2vw;
}

.login-password {
	padding: 1vh 1vw 4vh 1vw;
	text-align: left;
	font-size: 120%;
}

.login-password-input {
	margin-left: 1.5vw;
}

.login-createaccount {
	padding: 2vh 2vw 2vh 2vw;
}

.loginSubmitButton {
	width: 8vw;
}

/*CREATE AN ACCOUNT*/

.newuser-email {
	padding: 1vh 1vw 1vh 1vw;
	text-align: left;
	font-size: 120%;
}

.newuser-email-input {
	margin-left: 3vw;
}

.newuser-username {
	padding: 1vh 1vw 1vh 1vw;
	text-align: left;
	font-size: 120%;

}
.newuser-username-input {
	margin-left: 0.7vw;
}

.newuser-password {
	padding: 1vh 1vw 4vh 1vw;
	text-align: left;
	font-size: 120%;
}

.newuser-password-input {
	margin-left: 1vw;
}

.newUserSubmitButton {
	width: 8vw;
	margin-left: 1vw;
}

/*Questionnaire*/

.questionnaireLogo {
	margin-top: 1vh;
	margin-bottom: 3vh;
	margin-left: 38vw;
}

.col-8 {
	background-color: rgb(255,253,242,0.8);
	height: 100vh;
	padding-top: 4vh;
	padding-left: 3vh;
	padding-right: 3vh;
}

.shirt-size {
	margin-left: 2vw;
}

.questionHeight {
	margin-left: 2.6vw;
}

.questionWeight {
	margin-left: 1.0vw;
}

.belly {
	margin-left: 8.6vw;
}

.shirt-fit {
	margin-left: 5.9vw;
}

.shirt-collar {
	margin-left: 6.3vw;
}

.shirt-front {
	margin-left: 6.6vw;
}

.shirt-cuff {
	margin-left: 7.1vw;
}

.radio {
	margin-left: 1.5vw;
	margin-right: 0.5vw;
}

.questionnaireSubmitButton {
	width: 8vw;
}

/**/

.radio {
	color: rgb(154, 205, 50, 0.5);
}

.redirect {
	font-size: 2.5rem;
	color: rgb(105,105,105,0.5);
}

/**/

 .rootLoginButton {
 		background-color: rgb(211,211,211);
 		color: rgb(105,105,105);
 		align-content: center;

 }

 .rootCreateAccountButton {
		background-color: rgb(211,211,211);
		color: rgb(105,105,105);
		align-content: center;

 }

.rootHeader {
	font-weight: 700;
	font-size: 3rem;
	text-align: center;

}

/**/

.redirect {
	color: rgb(105,105,105);
	font-weight: 400;
	font-size: 2.5rem;
}

.text-header {
  font-weight: bold;
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.text-content {
  margin-bottom: 0.5rem;
}

.divider {
  background-color: rgb(250, 250, 250);
  height: 12px;
}

@media (min-width: 992px) {

  body {
    font-size: 1.45rem;
  }

  .text-header {
    font-size: 2.9rem;
  }

}

@media (min-width: 1200px) {

  body {
    font-size: 1.5rem;
  }

  .text-header {
    font-size: 3rem;
  }

}




